.blog-post {
  &__container {
    position: relative;
  }

  &__tag {
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid var(--black);
    padding: 6px 10px;
    margin: 5px 8px;
    display: inline-block;
    background-color: var(--white);
    text-transform: capitalize;
  }

  &__title {
    background-color: var(--yellow);
    padding: 20px 50px;
    text-align: center;
    border-bottom: 1px solid var(--black);

    h1 {
      font-size: 42px;
      font-weight: 900;
      margin-bottom: 0;
    }
  }

  &__date, &__read, &__author {
    font-size: 12px;
  }

  &__section {
    padding: 50px;
    width: 100%;
    column-gap: 50px;
    display: flex;
  }

  &__left {
    width: 70%;


    a {
      font-weight: 900;
      text-decoration: underline;
      color: var(--purple);
    }
  }

  &__thumbnail {
    margin-bottom: 50px;
    width: 100% ;
    border: 1px solid var(--black);
  }

  &__content {
    img {
      max-width: 600px;
      max-height: 400px;
      border: 1px solid var(--black);
    }
  }

  &__table {
    border: 1px solid var(--black);
    height: fit-content;
    position: sticky;
    top: 100px;
    width: 30%;
    background-color: var(--blue);

    &-title {
      color: var(--white);
      padding: 20px 40px;
      background-color: var(--black);
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
    }

    &-list {
      margin: 50px 20px;
    }

    a {
      color: var(--black);
      font-size: 18px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__related-articles {
    &__heading {
      background-color: var(--pink);
      padding: 30px 50px;
      text-align: center;
      border-bottom: 1px solid var(--black);
      border-top: 1px solid var(--black);
      color: var(--white);
      text-transform: uppercase;
      font-size: 56px;
      color: var(--white);
      font-weight: 900;
      text-shadow: 8px 8px var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
      text-decoration: solid;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .blog-post {
    &__left {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__table {
      display: none;
    }

    &__related-articles--list {
      padding: 50px;
    }
  }
}