.quiz {
  &__container {
    position: relative;
  }

  &__title {
    background-color: var(--black);
    color: var(--white);
    padding: 30px 50px;
    text-align: center;
    border-bottom: 1px solid var(--black);

    h1 {
      font-size: 42px;
      font-weight: 900;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
    }
  }

  &__questions {
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__score {
    &-container {
      margin-bottom: 50px;
    }

    &-heading {
      text-transform: uppercase;
      font-weight: 800;
    }

    &-count, &-total {
      font-size: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .quiz {
    &__questions {
      padding: 20px;
    }
  }
}
