.react-cohort {
  &__container, &__showcase {
    font-family: 'Poppins', sans-serif;

    h1, h2, h3, h4, h5, h6, button {
      font-family: 'Unbounded', sans-serif;
    }
  }

  &__showcase {
    background: linear-gradient(to top, rgba(23, 22, 38, 1), rgba(23, 22, 38, 0.4), rgba(23, 22, 38, 0.4)), url("../../images/bg.png") ;
    background-color: rgb(23, 22, 38);

    p {
      font-family: 'Poppins';
    }
  }

  &__container {
    a {
      font-family: 'Unbounded', sans-serif;
    }

    p, li {
      line-height: 1.75;
      font-weight: 400;
    }
  }

  &__hero {
    background: linear-gradient(to top, rgba(23, 22, 38, 1), rgba(23, 22, 38, 0.4), rgba(23, 22, 38, 0.4)), url("../../images/bg.png") ;
    background-color: rgb(23, 22, 38);
    background-repeat: no-repeat;
    background-size: cover;
  }


  &__mentor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 3fr;
    }
  }
}
