.newsletter-section {
  margin: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    background-color: var(--yellow);
    padding: 30px;
    border: 1px solid var(--black);
    max-width: 500px;
  }

  input {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  label {
    font-family: 'Archivo';
    text-transform: uppercase;
  }

  &__submit {
    background-color: var(--purple) !important;
    color: var(--white);
  }

  input:disabled {
    background-color: var(--grey) !important;
    color: var(--black);
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 600px) {
  .newsletter-section {

    &__form {
      width: 100%;
    }
  }
}