.mentorship {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__heading {
    color: var(--primary-color);
  }

  &__button {
    background-color: var(--featured-bg);
    padding: 18px;
    font-size: 14px;
    color: white;
    border-radius: 10px;
  }
}