.study-plans {
  &__header {
    text-align: center;
    background-color: var(--black);
    padding: 50px 100px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__demo {
    width: 80%;
  }

  &__heading {
    font-size: 4.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;

    &--focus {
      color: var(--yellow);
    }
  }

  &__info {
    text-align: center;
    border-bottom: 1px solid var(--black);
    padding: 80px 100px;

    &-heading {
      font-size: 2rem;
      font-weight: 900;
      color: var(--purple)
    }

    &-features {
      display: flex;
      gap: 40px;
      margin-top: 50px;

      h4 {
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }

  &__combo {
    text-align: center;
    border-top: 1px solid var(--black);
    padding: 80px 100px;

    &-heading {
      font-size: 4.5rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: var(--red);
    }

    &-subheading {
      color: var(--purple);
    }

    &-subheading-2 {
      margin-bottom: 50px;
    }

    &-img {
      width: 60%;
    }
  }
}

.dsa-plan {
  &__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--black);
  }

  &__left {
    box-sizing: border-box;
    width: 60%;
  }

  &__right {
    box-sizing: border-box;
    width: 40%;
    background-image: url('/assets/90-day-dsa-plan.png');
    background-size: cover;
    border-left: 1px solid var(--black);
  }

  &__heading {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 0px;

    &-container {
      background-color: var(--yellow);
      padding: 50px;
      border-bottom: 1px solid var(--black);
    }
  }

  &__content {
    font-size: 22px;
    margin-bottom: 50px;

    &-container {
      padding: 80px;
    }
  }
}

.python-plan {
  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--black);
  }

  &__right {
    box-sizing: border-box;
    width: 50%;
  }

  &__left {
    box-sizing: border-box;
    width: 50%;
    background-image: url('/assets/python_study_plan.png');
    background-size: cover;
    border-right: 1px solid var(--black);
  }

  &__heading {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 0px;

    &-container {
      background-color: var(--yellow);
      padding: 50px;
      border-bottom: 1px solid var(--black);
    }
  }

  &__content {
    font-size: 22px;
    margin-bottom: 50px;

    &-container {
      padding: 80px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .study-plans {
    &__header {
      padding: 50px;
    }

    &__demo {
      width: 100%;
    }

    &__info {
      padding: 50px;

      &-features {
        display: block;
      }
    }

    &__combo {
      padding: 50px;

      &-heading {
        font-size: 2rem;
      }

      &-img {
        width: 100%;
      }
    }
  }

  .dsa-plan {
    &__container {
      display: block;
    }

    &__left {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid var(--black);
    }

    &__right {
      width: 100%;
      height: 600px;
    }
  }

  .python-plan {
    &__container {
      display: block;
    }

    &__right {
      width: 100%;
      border-right: none;
      border-top: 1px solid var(--black);
    }

    &__left {
      width: 100%;
      height: 600px;
    }
  }
}

.git-plan {
  &__container {
    display: flex;
  }

  &__left {
    width: 50%;
    background-color: var(--pink);
    padding: 80px 50px;
    box-sizing: border-box;
  }

  &__right {
    box-sizing: border-box;
    width: 50%;
    background-size: cover;
    border-left: 1px solid var(--black);
    background-image: url('/assets/git-plan.png');
  }

  &__heading {
    font-size: 46px;
    font-weight: 900;
  }

  &__content {
    font-size: 22px;
  }
}

@media only screen and (max-width: 900px) {
  .git-plan {
    &__container {
      display: block;
    }

    &__left {
      width: 100%;
      border-bottom: 1px solid var(--black);
    }

    &__right {
      width: 100%;
      height: 800px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gatsby-blog {
    &__right {
      width: 100%;
      height: 400px;
    }
  }
}

.js-plan {
  &__container {
    padding: 50px 50px;
    border-bottom: 1px solid var(--black);
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 500px;
  }

  &__heading {
    font-size: 76px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
    text-shadow: 10px 10px var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);

    &--pink {
      color: var(--pink);
    }
  }

  &__content {
    font-size: 24px;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 1200px) {
  .js-plan {
    &__heading {
      font-size: 58px;
    }

    &__right {
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .js-plan {
    &__container {
      display: block;
    }

    &__img {
      width: 100%;
    }

    &__heading {
      margin: 50px 0;
    }

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .js-plan {
    &__heading {
      font-size: 38px;
      text-shadow: 5px 5px var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    }

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}

