.button {
  border: 1px solid var(--black);
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Archivo';
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--black);
  width: fit-content;

  &:hover {
    text-decoration: none;
  }

  @keyframes letter-space {
    0% {
      letter-spacing: normal;
    }

    100% {
      letter-spacing: 5px;
    }
  }

  &--yellow {
    background-color: var(--yellow);
  }

  &--pink {
    background-color: var(--pink);
  }

  &--blue {
    background-color: var(--blue);
  }

  &--black {
    background-color: var(--black);
    color: var(--white);
  }

  &--normal {
    padding: 16px 26px;
    font-size: 16px;
  }

  &--small {
    padding: 12px 22px;
    font-size: 12px;
  }

  &--disabled {
    cursor: not-allowed;
    background-color: var(--grey);
  }
}

@media only screen and (max-width: 600px) {

  .button {
    &--normal {
      padding: 16px 26px;
      font-size: 12px;
    }
  }
}