.cs-illustrated {
  &__container {
    padding: 100px 50px;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 500px;
    border: 1px solid var(--black);
    box-shadow: 10px 10px var(--black);
  }

  &__heading {
    font-size: 76px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
    text-shadow: 10px 10px var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);

    &--pink {
      color: var(--pink);
    }
  }

  &__content {
    font-size: 24px;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 1200px) {
  .cs-illustrated {
    &__heading {
      font-size: 58px;
    }

    &__right {
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .cs-illustrated {
    &__container {
      display: block;
    }

    &__img {
      width: 100%;
    }

    &__heading {
      margin: 50px 0;
    }

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .cs-illustrated {
    &__heading {
      font-size: 38px;
      text-shadow: 5px 5px var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    }

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}
