.question {
  &__container {
    border-radius: 4px;
    background-color: var(--blue);
    width: 800px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid var(--black)
  }

  &__label {
    font-size: 22px;
    font-weight: 700;
  }

  &__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__option {
    background-color: var(--white);
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid var(--black);

    &:hover {
      background-color: var(--yellow);
    }

    &--selected {
      background-color: var(--yellow);
    }

    &--correct {
      background-color: var(--green);
    }

    &--incorrect {
      background-color: var(--red);
    }

    &--answer {
      background-color: var(--grey);
    }
  }
}

@media only screen and (max-width: 600px) {
  .question {
    &__container {
      width: 100%;
      margin-bottom: 50px 20px;
      padding: 20px;
    }

    &__options {
      grid-template-columns: 1fr;
    }
  }
}
