.products {
  margin-top: 50px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }

  &__item {
    height: 250px;
    width: 250px;
    background-size: contain;
  }

  &__cta {
    height: fit-content;
    width: fit-content;
    margin: auto;

    &-container {
      opacity: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}